
  h1 {
    font-size: 36px;
    font-weight: bold;
    color: rgb(187, 109, 25);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .author-card {
    background-color: #f9f9f9;
    background-color: #e0a546;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 500px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
  }
  
  .author-image {
    width: 70%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;

  }
  
  .author-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }

  .views {
    font-size: 14px;
    color: #1a1919;
  }